In [1]:
!mysql < sakila-database.sql

In [2]:
!mysql <  sakila-data.sql

In [5]:
#Row count for actor
!mysql sakila -e "SELECT COUNT(*) FROM actor"

+----------+
| COUNT(*) |
+----------+
|      200 |
+----------+

In [6]:
#Row count for address
!mysql sakila -e "SELECT COUNT(*) FROM address"

+----------+
| COUNT(*) |
+----------+
|      603 |
+----------+

In [7]:
#Row count for city
!mysql sakila -e "SELECT COUNT(*) FROM city"

+----------+
| COUNT(*) |
+----------+
|      600 |
+----------+

In [8]:
#Row count for country
!mysql sakila -e "SELECT COUNT(*) FROM country"

+----------+
| COUNT(*) |
+----------+
|      109 |
+----------+

In [9]:
#Row count for customer
!mysql sakila -e "SELECT COUNT(*) FROM customer"

+----------+
| COUNT(*) |
+----------+
|      599 |
+----------+

In [11]:
#Sample from actor
!mysql sakila -e "SELECT * FROM actor LIMIT 10"

+----------+------------+--------------+---------------------+
| actor_id | first_name | last_name    | last_update         |
+----------+------------+--------------+---------------------+
|        1 | PENELOPE   | GUINESS      | 2006-02-15 04:34:33 |
|        2 | NICK       | WAHLBERG     | 2006-02-15 04:34:33 |
|        3 | ED         | CHASE        | 2006-02-15 04:34:33 |
|        4 | JENNIFER   | DAVIS        | 2006-02-15 04:34:33 |
|        5 | JOHNNY     | LOLLOBRIGIDA | 2006-02-15 04:34:33 |
|        6 | BETTE      | NICHOLSON    | 2006-02-15 04:34:33 |
|        7 | GRACE      | MOSTEL       | 2006-02-15 04:34:33 |
|        8 | MATTHEW    | JOHANSSON    | 2006-02-15 04:34:33 |
|        9 | JOE        | SWANK        | 2006-02-15 04:34:33 |
|       10 | CHRISTIAN  | GABLE        | 2006-02-15 04:34:33 |
+----------+------------+--------------+---------------------+

In [12]:
#Sample from address
!mysql sakila -e "SELECT * FROM address LIMIT 10"

+------------+---------------------------------+----------+------------+---------+-------------+--------------+---------------------------+---------------------+
| address_id | address                         | address2 | district   | city_id | postal_code | phone        | location                  | last_update         |
+------------+---------------------------------+----------+------------+---------+-------------+--------------+---------------------------+---------------------+
|          1 | 47 MySakila Drive               | NULL     | Alberta    |     300 |             |              |        >
2]c4\�vۍ��H@     | 2014-09-25 22:30:27 |
|          2 | 28 MySQL Boulevard              | NULL     | QLD        |     576 |             |              |        ��߁$c@N��P"�;�        | 2014-09-25 22:30:09 |
|          3 | 23 Workhaven Lane               | NULL     | Alberta    |     300 |             | 14033335568  |        ��hc4\��~p��H@       | 2014-09-25 22:30:27 |
�4&c@B֮d"�;�     | 2014-09-25 22:30:09 |      | NULL     | QLD        |     576 |             | 6172235589   |        [
|          5 | 1913 Hanoi Way                  |          | Nagasaki   |     463 | 35200       | 28303384290  |        (�7!7`@����_�@@       | 2014-09-25 22:31:53 |
A@       | 2014-09-25 22:34:01 |               |          | California |     449 | 17886       | 838635286649 |        <�W��R]��`G-�
|          7 | 692 Joliet Street               |          | Attika     |      38 | 83579       | 448477190408 |        oY�Z�7@AѤ^�B@     | 2014-09-25 22:31:07 |
|          8 | 1566 Inegl Manor                |          | Mandalay   |     349 | 53561       | 705814003527 |        $&��W@<E�W�u5@     | 2014-09-25 22:32:18 |
|          9 | 53 Idfu Parkway                 |          | Nantou     |     361 | 42399       | 10655648674  |        �?�|*^@5z5@i�7@    | 2014-09-25 22:33:16 |
|         10 | 1795 Santiago de Compostela Way |          | Texas      |     295 | 18743       | 860452626434 |        PP/�{�X���y2��;@        | 2014-09-25 22:33:55 |
+------------+---------------------------------+----------+------------+---------+-------------+--------------+---------------------------+---------------------+

In [13]:
#Sample from city
!mysql sakila -e "SELECT * FROM city LIMIT 10"

+---------+--------------------+------------+---------------------+
| city_id | city               | country_id | last_update         |
+---------+--------------------+------------+---------------------+
|       1 | A Corua (La Corua) |         87 | 2006-02-15 04:45:25 |
|       2 | Abha               |         82 | 2006-02-15 04:45:25 |
|       3 | Abu Dhabi          |        101 | 2006-02-15 04:45:25 |
|       4 | Acua               |         60 | 2006-02-15 04:45:25 |
|       5 | Adana              |         97 | 2006-02-15 04:45:25 |
|       6 | Addis Abeba        |         31 | 2006-02-15 04:45:25 |
|       7 | Aden               |        107 | 2006-02-15 04:45:25 |
|       8 | Adoni              |         44 | 2006-02-15 04:45:25 |
|       9 | Ahmadnagar         |         44 | 2006-02-15 04:45:25 |
|      10 | Akishima           |         50 | 2006-02-15 04:45:25 |
+---------+--------------------+------------+---------------------+

In [14]:
#Sample from country
!mysql sakila -e "SELECT * FROM country LIMIT 10"

+------------+----------------+---------------------+
| country_id | country        | last_update         |
+------------+----------------+---------------------+
|          1 | Afghanistan    | 2006-02-15 04:44:00 |
|          2 | Algeria        | 2006-02-15 04:44:00 |
|          3 | American Samoa | 2006-02-15 04:44:00 |
|          4 | Angola         | 2006-02-15 04:44:00 |
|          5 | Anguilla       | 2006-02-15 04:44:00 |
|          6 | Argentina      | 2006-02-15 04:44:00 |
|          7 | Armenia        | 2006-02-15 04:44:00 |
|          8 | Australia      | 2006-02-15 04:44:00 |
|          9 | Austria        | 2006-02-15 04:44:00 |
|         10 | Azerbaijan     | 2006-02-15 04:44:00 |
+------------+----------------+---------------------+

In [15]:
#Sample from customer
!mysql sakila -e "SELECT * FROM customer LIMIT 10"

+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+
| customer_id | store_id | first_name | last_name | email                               | address_id | active | create_date         | last_update         |
+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+
|           1 |        1 | MARY       | SMITH     | MARY.SMITH@sakilacustomer.org       |          5 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           2 |        1 | PATRICIA   | JOHNSON   | PATRICIA.JOHNSON@sakilacustomer.org |          6 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           3 |        1 | LINDA      | WILLIAMS  | LINDA.WILLIAMS@sakilacustomer.org   |          7 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           4 |        2 | BARBARA    | JONES     | BARBARA.JONES@sakilacustomer.org    |          8 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           5 |        1 | ELIZABETH  | BROWN     | ELIZABETH.BROWN@sakilacustomer.org  |          9 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           6 |        2 | JENNIFER   | DAVIS     | JENNIFER.DAVIS@sakilacustomer.org   |         10 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           7 |        1 | MARIA      | MILLER    | MARIA.MILLER@sakilacustomer.org     |         11 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           8 |        2 | SUSAN      | WILSON    | SUSAN.WILSON@sakilacustomer.org     |         12 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           9 |        2 | MARGARET   | MOORE     | MARGARET.MOORE@sakilacustomer.org   |         13 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|          10 |        1 | DOROTHY    | TAYLOR    | DOROTHY.TAYLOR@sakilacustomer.org   |         14 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+

In [24]:
# Order Countries that have country_id greater than 80 in descending order of country_id
!mysql sakila -e "SELECT country, country_id FROM country WHERE country_id > 80 ORDER BY country_id DESC"

+----------------------------------+------------+
| country                          | country_id |
+----------------------------------+------------+
| Zambia                           |        109 |
| Yugoslavia                       |        108 |
| Yemen                            |        107 |
| Virgin Islands, U.S.             |        106 |
| Vietnam                          |        105 |
| Venezuela                        |        104 |
| United States                    |        103 |
| United Kingdom                   |        102 |
| United Arab Emirates             |        101 |
| Ukraine                          |        100 |
| Tuvalu                           |         99 |
| Turkmenistan                     |         98 |
| Turkey                           |         97 |
| Tunisia                          |         96 |
| Tonga                            |         95 |
| Thailand                         |         94 |
| Tanzania                         |         93 |
| Taiwan                           |         92 |
| Switzerland                      |         91 |
| Sweden                           |         90 |
| Sudan                            |         89 |
| Sri Lanka                        |         88 |
| Spain                            |         87 |
| South Korea                      |         86 |
| South Africa                     |         85 |
| Slovakia                         |         84 |
| Senegal                          |         83 |
| Saudi Arabia                     |         82 |
| Saint Vincent and the Grenadines |         81 |
+----------------------------------+------------+

In [26]:
# Insert John Doe into actor table
!mysql sakila -e "INSERT INTO actor ( first_name, last_name, last_update ) VALUES ( 'John', 'Doe', '2006-02-15 04:34:33')"

In [31]:
#Update John Doe and capitalize the name
!mysql sakila -e "UPDATE actor SET first_name = 'JOHN', last_name = 'DOE' WHERE actor_id = 201"

In [33]:
#Delete JOHN DOE from actor table
!mysql sakila -e "DELETE FROM actor WHERE actor_id = '201'"